.hundun-editor-app-wrapper {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(233,233,233);
}
.hundun-editor-tool-box {
    height: 40px;
    border-bottom: 1px solid #ccc;
    background-color: #f5f5f5;
    color: #333;
    font-size: 14px;
    
}
.hundun-editor-tool-box-item {
    margin: 8px 0;
    padding: 0px 15px;
    height: 26px;
    line-height: 26px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    border-right: 1px solid #cccccc;
}
.hundun-editor-content {
    flex: 1;
    outline: none;
    padding: 15px;
    font-size: 12px;
    overflow-y: scroll;
}
.hundun-editor-content p {
    margin: 5px 0;
}